html {
  font-size: 100%
}

body {
  font-size: 1rem;
  font-family: Georgia;
  text-align: center;
  background-color: FloralWhite; /* Older browsers */
  background-image: url("https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png")
}

h1 {
  font-size: 2.5rem;
  color: IndianRed;
}

.info {
  font-size: 1.1rem;
}

hr {
  border-top: 1px dashed Salmon;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

table {
  border-collapse: collapse;
}

caption {
  padding: 10px;
  font-weight: bold;
}

table, th, td {
  border: 1px solid IndianRed;
  font-size: 1rem;
}

th, td {
  padding: 10px;
}

th {
  background-color: IndianRed;
}

.code {
  font-family: monospace;
  background-color: Salmon;
  color: White;
}

.external-link {
  color: IndianRed;
}
